.conatiner{
    width: 900px;
    background-color: red;
}

.box{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 17px;
}

.containerBut{
    text-align: center;
}

.containerBut .btn{
    font-size: 30px;
    padding: 10px;
}

.btn{
    width: 50px;
    font-size: 17px;
    padding: 1px;
    background-color: coral;
    border-color: white;
}

.buttonSub{
    padding: 10px;
    font-size: 20px;
    width: 10%;
    background-color: blueviolet;
    color: beige;
}

.limp{
    background-color: burlywood;
    padding: 0 10px;
    justify-content: space-between;
    margin-left: 30%;
}

.limp2{
    background-color: burlywood;
    padding: 0px 10px;
    margin-left: 25%;
}